<div class='content-section-a'>
	<div class='container'>
		<h1>New Project</h1>
	</div>
</div>
<div class='content-section-b'>
	<div class='container'>
		<%= link_to '<-- Back', projects_path %>
		<p></p>
		<%= render 'form' %><br>	
	</div>
</div>